#!/bin/bash

trap "exit 130" SIGINT
trap "exit 137" SIGKILL
trap "exit 143" SIGTERM

set -o errexit
set -o nounset
set -o pipefail

GLASTOPF_JSON="/etc/glastopf/glastopf.json"


register () {
  local deploy_key="${1:-}"
  local chnserver="${2:-localhost}"
  local json="${3:-glastopf}"
  local hostname="$(hostname -f)"
  local honeypot="glastopf"
  local ip="${4:-}"

  if [[ -z ${deploy_key} ]]
  then
    return 1
  fi

  curl --insecure \
       --silent \
       --request POST \
       --header "Content-Type: application/json" \
       --output ${json} \
       --data "{
    \"name\": \"${hostname}-${honeypot}\",
    \"hostname\": \"$hostname\",
    \"ip\": \"${ip}\",
    \"deploy_key\": \"$deploy_key\",
    \"honeypot\": \"$honeypot\"
  }" ${chnserver}/api/sensor/
}


setup_glastopf_conf () {
    local server=${1:-}
    local server_port=${2:-}
    local uid=${3:-}
    local secret=${4:-}
    local tags=${5:-}
    local glastopf_port=${6:-8080}

    cp /opt/glastopf.cfg.template {{ glastopf_dir }}/glastopf.cfg
    pushd {{ glastopf_dir }}

    sed -i "s/port = 80$/port = ${glastopf_port}/g" glastopf.cfg
    sed -i "s/host = \$HPF_HOST$/host = ${server}/g" glastopf.cfg
    sed -i "s/port = \$HPF_PORT$/port = ${server_port}/g" glastopf.cfg
    sed -i "s/ident = \$HPF_IDENT$/ident = ${uid}/g" glastopf.cfg
    sed -i "s/secret = \$HPF_SECRET$/secret = ${secret}/g" glastopf.cfg
    sed -i "s|tags = \$TAGS$|tags = ${tags}|g" glastopf.cfg

    chown glastopf {{ glastopf_dir }}/glastopf.cfg
    popd
}


main () {
    source {{ sysconfig_dir }}/glastopf

    if [[ ${DEBUG} == "true" ]]
    then
        set -o xtrace
    fi

    local deploy_key=${DEPLOY_KEY:-}
    local chn_server=${CHN_SERVER}
    local feeds_server=${FEEDS_SERVER:-localhost}
    local feeds_server_port=${FEEDS_SERVER_PORT:-10000}
    local wp_port=${GLASTOPF_PORT:-8080}
    local json=${GLASTOPF_JSON:-glastopf.json}
    local ip=${IP_ADDRESS:-}
    local tags=${TAGS:-}

    local debug=${DEBUG:-false}

    if [[ -z ${deploy_key} ]]
    then
        echo "[CRIT] - No deploy key found"
        exit 1
    fi

    # If it doesn't exist or is empty
    if [[ ! -f ${json} ]] || [[ ! -s ${json} ]]
    then
        register ${deploy_key} ${chn_server} ${json} ${ip}

        return=$?

        if [[ $return -ne 0 ]]
        then
            echo "Failed to register with ${chn_server} using key: ${deploy_key}"
            exit 1
        fi
    fi

    local uuid=$(python -c "import json;obj=json.load(file('${json}'));print obj['uuid']")

    if [ -z "$uuid" ]
    then
        echo "Could not create sensor using name \"$(hostname -f)\"."
        exit 1
    else
        echo "Created sensor: " $uuid
    fi

    local feeds_server=$(echo $feeds_server | sed 's#^http://##; s#^https://##; s#/.*$##; s/:.*$//')
    local uid=$(python -c "import json;obj=json.load(file('${json}'));print obj['identifier']")
    local secret=$(python -c "import json;obj=json.load(file('${json}'));print obj['secret']")

    setup_glastopf_conf ${feeds_server} \
                       ${feeds_server_port} \
                       ${uid} ${secret} \
                       "${tags}" \
                       ${wp_port}


    exec su - glastopf -c "cd {{ glastopf_dir }}; glastopf-runner --workdir {{ glastopf_dir }}"
}

main "$@"
